.header__logo {
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 227px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 216px;
}

@media all and (max-width : 1024px) {
    .header__logo {
        margin-left: 50px;
        margin-right: 170px;
    }
}
