@import url('./_section/page_section.css');

.page  {
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
  font-style: normal;
	min-width: 320px;
	max-width: 1440px;
	box-sizing: border-box;
	margin-left: auto;
    margin-right: auto;

}
