@import url('./_grey/part_grey.css');
@import url('./_direction/part_direction.css');

.part {
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;

}

@media all and (max-width : 768px) {
    .part {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
