.card-company__notion {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FF2020;
    opacity: 0.8;
    margin: 0;
}
