@import url('./__image/link__image.css');
@import url('./__paragraph/link__paragraph.css');

.link {
 max-width: 147px;
 text-decoration: none;
 display: flex;
 flex-direction: column;
 align-items: center;



}

.link:hover {
	cursor: pointer;
    transform: translateY(-10px);
 box-shadow: 0px 3px 10px darkblue;

}
