@import url('./__logo/watermark__logo.css');
@import url('./__name/watermark__name.css');
@import url('./__logo-name/watermark__logo-name.css');

.watermark {
	    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
	z-index: 1;
}

@media all and (max-width : 768px) {
    .watermark {
        display: block;
		margin-right: 10px;

    }
}
